
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="main">
        <!-- Content -->
        <div id="content">
            <div class="box">
                <div class="head">
                    <h2>LATEST TRAILERS</h2>
                    <p class="text-right"><a href="#">See all</a></p>
                </div>
                <!-- Movie -->
                <div class="movie">
                    <div class="movie-image">
                        <a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="~/Images/movie1.jpg" alt="movie" /></a>
                    </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in">
                            </div>
                        </div>
                        <span class="comments">12</span>
                    </div>
                </div>
                <!-- end Movie -->
                <!-- Movie -->
                <div class="movie">
                    <div class="movie-image">
                        <a href="#"><span class="play"><span class="name">SPIDER MAN 2</span></span><img src="~/Images/movie2.jpg" alt="movie" /></a>
                    </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in">
                            </div>
                        </div>
                        <span class="comments">12</span>
                    </div>
                </div>
                <!-- end Movie -->
                <!-- Movie -->
                <div class="movie">
                    <div class="movie-image">
                        <a href="#"><span class="play"><span class="name">SPIDER MAN 3</span></span><img src="~/Images/movie3.jpg" alt="movie" /></a>
                    </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in">

                            </div>
                        </div>
                        <span class="comments">12</span>
                    </div>
                </div>
                <!-- end Movie -->
                <!-- Movie -->
                <div class="movie">
                    <div class="movie-image">
                        <a href="#"><span class="play"><span class="name">VALKYRIE</span></span><img src="~/Images/movie4.jpg" alt="movie" /></a>
                    </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in">

                            </div>
                        </div>
                        <span class="comments">12</span>
                    </div>
                </div>
                <!-- end Movie -->
                <!-- Movie -->
                <div class="movie">
                    <div class="movie-image">
                        <a href="#"><span class="play"><span class="name">GLADIATOR</span></span><img src="~/Images/movie5.jpg" alt="movie" /></a>
                    </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in">

                            </div>
                        </div>
                        <span class="comments">12</span>
                    </div>
                </div>
                <!-- end Movie -->
                <!-- Movie -->
                <div class="movie last">
                    <div class="movie-image">
                        <a href="#"><span class="play"><span class="name">ICE AGE</span></span><img src="~/Images/movie6.jpg" alt="movie" /></a>
                    </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in">

                            </div>
                        </div>
                        <span class="comments">12</span>
                    </div>
                </div>
                <!-- end Movie -->
                <div class="cl">&nbsp;</div>
            </div>
            <div style="margin:0; padding:0">Website được xây dựng bởi nhóm 16 và cung cấp tính năng mượt mà để xem phim</div>
        </div>
        <!-- end Content -->
    </div>
</body>
</html>
