
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p>Contact</p>
</body>
</html>
