@model web.Services.PagedResult<Movies>
@{
    ViewData["Title"] = "Home";
    var lastest = ViewData["lastest"] as IEnumerable<Movies>;
}
<!-- Content -->
<div id="content">
    <!-- Box -->
    <div class="box">
        <div class="head">
            <h2>LATEST TRAILERS</h2>
            <p class="text-right"><a href="#">See all</a></p>
        </div>
        <!-- Movie -->
        @foreach (var item in lastest)
        {
            <div class="movie">
                <div class="movie-image">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.mov_id"><span class="play"><span class="name">@item.mov_title</span></span><img src="@item.mov_img" alt="movie" /></a>
                </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in">
                        </div>
                    </div>
                    <span class="comments">12</span>
                </div>
            </div>
        }
        <!-- end Movie -->
        <div class="cl">&nbsp;</div>
        @(await Component.InvokeAsync<web.Services.PagerViewComponent>(Model))
    </div>
    <!-- end Box -->
    <!-- Box -->
    <div class="box">
        <div class="head">
            <h2>TOP RATED</h2>
            <p class="text-right"><a href="#">See all</a></p>
        </div>

        <!-- Movie -->
        <div class="movie">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">TRANSFORMERS</span></span><img src="~/Images/movie7.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <!-- Movie -->
        <div class="movie">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">MAGNETO</span></span><img src="~/Images/movie8.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <!-- Movie -->
        <div class="movie">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">KUNG FU PANDA</span></span><img src="~/Images/movie9.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <!-- Movie -->
        <div class="movie">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">EAGLE EYE</span></span><img src="~/Images/movie10.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <!-- Movie -->
        <div class="movie">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">NARNIA</span></span><img src="~/Images/movie11.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <!-- Movie -->
        <div class="movie last">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">ANGELS &amp; DEMONS</span></span><img src="~/Images/movie12.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <div class="cl">&nbsp;</div>
    </div>
    <!-- end Box -->
    <!-- Box -->
    <div class="box">
        <div class="head">
            <h2>MOST COMMENTED</h2>
            <p class="text-right"><a href="#">See all</a></p>
        </div>

        <!-- Movie -->
        <div class="movie">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">HOUSE</span></span><img src="~/Images/movie13.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <!-- Movie -->
        <div class="movie">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">VACANCY</span></span><img src="~/Images/movie14.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <!-- Movie -->
        <div class="movie">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">MIRRORS</span></span><img src="~/Images/movie15.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <!-- Movie -->
        <div class="movie">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">THE KINGDOM</span></span><img src="~/Images/movie16.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <!-- Movie -->
        <div class="movie">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">MOTIVES</span></span><img src="~/Images/movie17.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <!-- Movie -->
        <div class="movie last">
            <div class="movie-image">
                <a href="#"><span class="play"><span class="name">THE PRESTIGE</span></span><img src="~/Images/movie18.jpg" alt="movie" /></a>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in">

                    </div>
                </div>
                <span class="comments">12</span>
            </div>
        </div>
        <!-- end Movie -->
        <div class="cl">&nbsp;</div>
    </div>
    <!-- end Box -->
</div>
<!-- end Content -->
