
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>myView</title>
</head>
<body>
    <p>My view</p>
    @ViewBag.Name
    @ViewBag.Greeting
<a asp-action="Register">Dang ky</a>
</body>
</html>
