
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "News";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News</title>
</head>
<body>
    <p>News</p>
</body>
</html>
