@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <ul>
        @foreach(string i in Model)
       {
            <li>
                @i
            </li> 
        }
        
    </ul>
</body>
</html>
