
@{
    ViewData["Title"] = "WatchMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div id="main">
    <!-- Content -->
    <div id="content">
        <div class="box">
            <div class="row">
                <div class="col-md-12">
                    <h3>XEM PHIM/PHIM HÀNH ĐỘNG/PHIM CHÍNH KỊCH/X-MAN</h3>
                    <video controls playsinline poster="~/Images/movie1.jpg" id="player" style="width: 100%;">
                        <!-- Video files -->
               
                        <source src="https://fvs.io/redirector?token=Y2FaUnJyUnIrT250bWJaRG1UTGg5VVFOTE1yQmdwU0E1MlRaQzcyWXJ6ODU2a1I1dXNPT2x6NkpoUDlkL3pTSU5NanBEdGszUmxXb0RWckx1VlBYbFh5bXlnL1ArQ25UdUhFK0xqV2Fua1dHT2pubjRCeUpLeUhjYWNzT3JzelZlTHBLcFhoYkpkczlIZmJTdWdVUVFIR0c1bWFUVjMxcVJhQT06cjh5UHV4b2tLK0trN25iTHpKR2RsUT09" type="video/mp4"
                                size="720">
                     

                        <!-- Caption files -->
                        <track kind="captions" label="English" srclang="en"
                               src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt" default>
                        <track kind="captions" label="Français" srclang="fr"
                               src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">

                        <!-- Fallback for browsers that don't support the <video> element -->
                        <a href="~/movie/X-MEN- DARK PHOENIX Trailer 2 (2019).mp4" download>Download</a>
                    </video>
                    <div >
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                                <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                                <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Content -->
</div>

